fastapi 
uvicorn
python-dotenv
pymupdf
ipykernel
langchain
langgraph
langchain-openai
langchain-tavily
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
sentence-transformers
graphviz
mermaid-py

-e .
